<h2>List of Authors</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |author|}}
    <tr>
      <th>{{author.name}}</th>
      <th>
        {{#link-to 'authors.view' author.id class='btn btn-success btn-xs'}}View{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteLibrary' library}}>Delete</button>
        {{#link-to 'authors.edit' author.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
      </th>
    </tr>
  {{/each}}
  </tbody>
</table>