<div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="col-md-10 col-md-offset-2 text-center">List of Authors</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |author|}}
      <tr>
        <th>{{author.name}}</th>
        <th class="text-center">
          {{#link-to 'authors.view' author.id class='btn btn-success btn-xs'}}View{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteAuthor' author}}>Delete</button>
          {{#link-to 'authors.edit' author.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        </th>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>