<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> 
      <b>Author: {{model.name}} </b>
    </h2>
  </div>
  <div class="panel-body">
    <h2><b>Published books:</b></h2>
    {{model.books}}
    <div class="col-md-6">
      {{#each model.books as |book|}}
        {{book.title}}
      {{/each}}
    </div>
  </div>
</div>
