<div class="row">
  {{#each model as |book|}}
    <div class="col-sm-3">
      <div class="panel panel-default">
        {{#link-to 'books.view' book.id}}
          <div class="panel-body text-center">
            <p><b>{{book.title}}</b></p>
            <p>By: {{book.author.name}}</p>
            <p>Publisher: {{book.publisher}}</p>
          </div>
        {{/link-to}}
        <div class="panel-footer text-center">
          <p class="label label-success"><b>Price: $ {{book.price}}</b></p>
          {{#link-to 'books.view' book.id class='btn btn-primary btn-xs'}}View{{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

